body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    
}

.menu {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        align-items: center;
        color: aliceblue;
        margin-top: 50px;
        height: 30px;
    }

.menu ul li{
        list-style-position: outside;
        text-align: center;
        margin-right: 40px;
    }
    
.menu ul {
        display: flex;
        padding-left: 0!important;
        list-style-type: none;
    }
    
.menu a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
        
.btn{
        text-align: center;
        color: aliceblue;
        background-color: gold;
        padding: 18px 30px;
        margin-left: 200px;
        margin-top: 50px;
    }

.btn:hover{
    background-color: rgb(185, 168, 72);
}
    
.font-face{
        font-family: 'Roboto', sans-serif;
        padding: 200px;
        font-size: 50px;
        font-style: normal;
        color:aliceblue;
    }

.offer{
        margin-top:100px;
        width: 900px;
        height: 400px;
    }

.container {
        width: 1400px;
        margin:0 auto;
    }

.phone{
        margin: 10px;
        margin-right: 10px;
        color: aliceblue;
    }



    